SUPABASE_URL=https://koylaliawbktbrbnohrq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtveWxhbGlhd2JrdGJyYm5vaHJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjU0ODIxNSwiZXhwIjoyMDgyMTI0MjE1fQ.Xyl0ZrBWQNt6XQMdRcqdVUHUfzj4yl-gp7Xx58kL3SE
ADMIN_TOKEN=admin_7f9c3e2a_2026_matidiaz_PRIVATE
PORT=8000
